# This workflow will do a clean install of node dependencies, build the source code and run tests
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Main

on:
# main branch CI
  push:
    branches: [ main ]
# Run on pull request
  pull_request:
    types: [ opened, synchronize ]

jobs:
  build:
    # Match Development Operating System
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v2
      with:
        # Match Development Node Version
        node-version: '16.x'
    - name: Clean Install
      run: npm ci
# Check Environment
    - name: Check
      env:
        BRANCH_NAME: ${{ github.ref }}
      run: npm run check environment --if-present
# Check Code
    # Style Check ensures that code is consistently styled
    - name: Style Check
      run: npm run style-check --if-present
    - name: Lint Check
      run: npm run lint --if-present
# Build
    - name: Clean
      run: npm run clean --if-present
    - name: Compile
      run: npm run compile --if-present
    - name: Test
      run: npm test --if-present
